body {
  font-family: "Montserrat", sans-serif;
  background: url("../images/background.jpg") no-repeat center center fixed;
  background-size: cover;
  color: #072f5f;
}

.app {
  margin: 60px auto;
  background: #fef8f8;
  border-radius: 15px;
  box-shadow: 0 30px 50px #dfa28d;
  max-width: 700px;
  padding: 70px;
}

form {
  display: inline-flex;
  width: 100%;
}
input {
  line-height: 40px;
  border-radius: 7px;
  font-size: larger;
}
input.search-bar {
  border: #ffeae9 solid 1px;
  padding-left: 10px;
  color: #072f5f;
  position: relative;
  width: 100%;
  margin-right: 10px;
}
input.search-bar:focus-visible {
  outline: #f9ddd9 solid 1px;
}
::placeholder {
  color: #072f5f;
  opacity: 0.4;
  font-family: "Montserrat", sans-serif;
}
.search-button {
  background: #f9ddd9;
  color: #072f5f;
  border: none;
  padding: 0 50px;
  font-family: "Montserrat", sans-serif;
}
.search-button:hover {
  cursor: pointer;
  background: #ffeae9;
  transition: all 200ms ease-out;
}
div.result {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 60px;
}
strong {
  color: #ba6e52;
}
div.temperature-container {
  display: flex;
  justify-content: end;
  margin-top: 40px;
}
h1 {
  font-size: 50px;
}
.result p {
  font-size: 24px;
}
.weather-icon {
  width: 88px;
  margin: 10px 10px;
}

.temperature {
  font-size: 100px;
  font-weight: 600;
}
.unit {
  font-size: 24px;
  margin-top: 15px;
}

footer p {
  display: block;
  margin: 0 auto;
  padding-top: 40px;
  text-align: center;
  font-size: smaller;
}
a {
  color: #ba6e52;
}
